# DATA PROCESSING

In [ ]:
#dataset 
#https://www.kaggle.com/datasets/thedevastator/unlock-profits-with-e-commerce-sales-data/data

In [2]:
import pandas as pd
import numpy as np

In [3]:
amazon = pd.read_csv("data/Amazon Sale Report.csv")
amazon.drop(columns = "index", inplace = True)
amazon

C:\Users\hyein\AppData\Local\Temp\ipykernel_22384\29860753.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  amazon = pd.read_csv("data/Amazon Sale Report.csv")

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,M,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,XS,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,S,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

# 1. overview of data

In [14]:
from scipy import stats

def summarization(df):
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes, columns=['dtypes'])
    summary = summary.reset_index()
    summary = summary.rename(columns={'index': 'Name'})
    
    # 각 열에 대해 고유값의 개수를 계산하여 'nunique' 열에 저장
    summary['nunique'] = [df[col].nunique() for col in df.columns]
    summary['missing value'] = [df[col].isna().sum() for col in df.columns]
    # 각 열의 고유값을 리스트로 저장하여 'unique value' 열에 저장
    unique_values = []
    for col in df.columns:
        unique_values.append(df[col].unique())
    summary['unique value'] = unique_values


    return summary

In [15]:
summarization(amazon)

Dataset Shape: (128975, 23)

,Name,dtypes,nunique,missing value,unique value
0,Order ID,object,120378,0,"[405-8078784-5731545, 171-9198151-1101146, 404..."
1,Date,object,91,0,"[04-30-22, 04-29-22, 04-28-22, 04-27-22, 04-26..."
2,Status,object,13,0,"[Cancelled, Shipped - Delivered to Buyer, Ship..."
3,Fulfilment,object,2,0,"[Merchant, Amazon]"
4,Sales Channel,object,2,0,"[Amazon.in, Non-Amazon]"
5,ship-service-level,object,2,0,"[Standard, Expedited]"
6,Style,object,1377,0,"[SET389, JNE3781, JNE3371, J0341, JNE3671, SET..."
7,SKU,object,7195,0,"[SET389-KR-NP-S, JNE3781-KR-XXXL, JNE3371-KR-X..."
8,Category,object,9,0,"[Set, kurta, Western Dress, Top, Ethnic Dress,..."
9,Size,object,11,0,"[S, 3XL, XL, L, XXL, XS, 6XL, M, 4XL, 5XL, Free]"
10,ASIN,object,7190,0,"[B09KXVBD7Z, B09K3WFS32, B07WV4JV4D, B099NRCT7..."
11,Courier Status,object,3,6872,"[nan, Shipped, Cancelled, Unshipped]"
12,Qty,int64,10,0,"[0, 1, 2, 15, 3, 9, 13, 5, 4, 8]"
13,currency,object,1,7795,"[INR, nan]"
14,Amount,float64,1410,7795,"[647.62, 406.0, 329.0, 753.33, 574.0, 824.0, 6..."
15,ship-city,object,8955,33,"[MUMBAI, BENGALURU, NAVI MUMBAI, PUDUCHERRY, C..."
16,ship-state,object,69,33,"[MAHARASHTRA, KARNATAKA, PUDUCHERRY, TAMIL NAD..."
17,ship-postal-code,float64,9459,33,"[400081.0, 560085.0, 410210.0, 605008.0, 60007..."
18,ship-country,object,1,33,"[IN, nan]"
19,promotion-ids,object,5787,49153,"[nan, Amazon PLCC Free-Financing Universal Mer..."
20,B2B,bool,2,0,"[False, True]"
21,fulfilled-by,object,1,89698,"[Easy Ship, nan]"
22,Unnamed: 22,object,1,49050,"[nan, False]"

# 2. 제거하기

## 2.1 판매채널에서 아마존 아닌 부분 제거하기

In [7]:
amazon['Sales Channel '].value_counts()

Sales Channel
Amazon.in     128851
Non-Amazon       124
Name: count, dtype: int64

In [8]:
#Non-Amazon 을 값는 행 제거하기 
amazon = amazon[amazon['Sales Channel '] != 'Non-Amazon']

## 2.2 필요없는 컬럼 드롭하기

In [9]:
amazon['Sales Channel '].value_counts(dropna = False)

Sales Channel
Amazon.in    128851
Name: count, dtype: int64

In [10]:
amazon['currency'].value_counts(dropna= False, normalize = True)

currency
INR    0.940466
NaN    0.059534
Name: proportion, dtype: float64

In [11]:
amazon['ship-country'].value_counts(dropna= False, normalize = True)

ship-country
IN     0.999744
NaN    0.000256
Name: proportion, dtype: float64

In [12]:
amazon["Unnamed: 22"].value_counts(dropna = False)

Unnamed: 22
False    79854
NaN      48997
Name: count, dtype: int64

In [13]:
amazon["fulfilled-by"].value_counts(dropna = False)

fulfilled-by
NaN          89574
Easy Ship    39277
Name: count, dtype: int64

In [16]:
amazon['Fulfilment'].value_counts(dropna = False)

Fulfilment
Amazon      89698
Merchant    39277
Name: count, dtype: int64

In [25]:
amazon[(amazon['Fulfilment'] == 'Amazon') & (amazon["fulfilled-by"] == 'Easy Ship')]

Empty DataFrame
Columns: [Order ID, Date, Status, Fulfilment, Sales Channel , ship-service-level, Style, SKU, Category, Size, ASIN, Courier Status, Qty, currency, Amount, ship-city, ship-state, ship-postal-code, ship-country, promotion-ids, B2B, fulfilled-by, Unnamed: 22]
Index: []

[0 rows x 23 columns]

In [26]:
#Keeping only the 'fulfillment' column as both columns contain duplicate information.
amazon.drop(columns=['Sales Channel ', 'currency', 'ship-country', 'Unnamed: 22', 'fulfilled-by'], 
                 inplace=True)

In [27]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128975 non-null  object
 1   Date                128975 non-null  object
 2   Status              128975 non-null  object
 3   Fulfilment          128975 non-null  object
 4   ship-service-level  128975 non-null  object
 5   Style               128975 non-null  object
 6   SKU                 128975 non-null  object
 7   Category            128975 non-null  object
 8   Size                128975 non-null  object
 9   ASIN                128975 non-null  object
 10  Courier Status      122103 non-null  object
 11  Qty                 128975 non-null  int64
 12  Amount              121180 non-null  float64
 13  ship-city           128942 non-null  object
 14  ship-state          128942 non-null  object
 15  ship-postal-code    128942 non-null  float64
 16  promotion-ids       79822 non-null   object
 17  B2B                 128975 non-null  bool
dtypes: bool(1), float64(2), int64(1), object(14)
memory usage: 16.9+ MB

## 2.3 중복되는 값 제거하기

In [28]:
amazon[amazon.duplicated(['Order ID','ASIN'], keep=False)]

,Order ID,Date,Status,Fulfilment,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code,promotion-ids,B2B
30660,406-0372545-6086735,04-12-22,Cancelled,Amazon,Expedited,SET197,SET197-KR-NP-L,Set,L,B08B3YPD63,Cancelled,0,NaN,Siliguri,WEST BENGAL,734008.0,NaN,False
30661,406-0372545-6086735,04-12-22,Cancelled,Amazon,Expedited,SET197,SET197-KR-NP-L,Set,L,B08B3YPD63,Cancelled,0,NaN,Siliguri,WEST BENGAL,734008.0,NaN,False
41291,408-0373839-4433120,04-05-22,Cancelled,Amazon,Expedited,JNE3501,JNE3501-KR-M,kurta,M,B08MYVCDB4,Cancelled,0,NaN,BENGALURU,KARNATAKA,560072.0,NaN,False
41292,408-0373839-4433120,04-05-22,Cancelled,Amazon,Expedited,JNE3501,JNE3501-KR-M,kurta,M,B08MYVCDB4,Cancelled,0,NaN,BENGALURU,KARNATAKA,560072.0,NaN,False
52330,407-8364731-6449117,05-29-22,Shipped,Amazon,Expedited,JNE3769,JNE3769-KR-L,kurta,L,B09K3T675B,Cancelled,0,NaN,Theni,TAMIL NADU,625579.0,IN Core Free Shipping 2015/04/08 23-48-5-108,False
52333,407-8364731-6449117,05-29-22,Shipped,Amazon,Expedited,JNE3769,JNE3769-KR-L,kurta,L,B09K3T675B,Shipped,1,487.0,Theni,TAMIL NADU,625579.0,IN Core Free Shipping 2015/04/08 23-48-5-108,False
79844,171-9628368-5329958,05-07-22,Cancelled,Amazon,Expedited,J0329,J0329-KR-L,kurta,L,B09KXRB7JV,Cancelled,0,NaN,ERNAKULAM,KERALA,682017.0,NaN,False
79845,171-9628368-5329958,05-07-22,Cancelled,Amazon,Expedited,J0329,J0329-KR-L,kurta,L,B09KXRB7JV,Cancelled,0,NaN,ERNAKULAM,KERALA,682017.0,NaN,False
85790,171-3249942-2207542,05-03-22,Shipped,Amazon,Expedited,SET323,SET323-KR-NP-XL,Set,XL,B09NDKKM7P,Shipped,1,939.0,PUNE,MAHARASHTRA,411057.0,IN Core Free Shipping 2015/04/08 23-48-5-108,False
85791,171-3249942-2207542,05-03-22,Shipped,Amazon,Expedited,SET323,SET323-KR-NP-XL,Set,XL,B09NDKKM7P,Shipped,1,939.0,PUNE,MAHARASHTRA,411057.0,IN Core Free Shipping 2015/04/08 23-48-5-108,False
86418,405-8669298-3850736,05-03-22,Shipped,Amazon,Expedited,MEN5025,MEN5025-KR-XXXL,kurta,3XL,B08YYQS8FH,Shipped,1,533.0,GHAZIABAD,UTTAR PRADESH,201010.0,IN Core Free Shipping 2015/04/08 23-48-5-108,False
86419,405-8669298-3850736,05-03-22,Shipped,Amazon,Expedited,MEN5025,MEN5025-KR-XXXL,kurta,3XL,B08YYQS8FH,Shipped,1,533.0,GHAZIABAD,UTTAR PRADESH,201010.0,IN Core Free Shipping 2015/04/08 23-48-5-108,False
98954,407-4853873-4978725,06-22-22,Shipped,Amazon,Expedited,J0230,J0230-SKD-M,Set,M,B08XNJG8B1,Shipped,1,1163.0,Zirakpur,Punjab,140603.0,IN Core Free Shipping 2015/04/08 23-48-5-108,False
98955,407-4853873-4978725,06-22-22,Shipped,Amazon,Expedited,J0230,J0230-SKD-M,Set,M,B08XNJG8B1,Shipped,1,1163.0,Zirakpur,Punjab,140603.0,IN Core Free Shipping 2015/04/08 23-48-5-108,False

In [17]:
len(amazon)-len(amazon.drop_duplicates(['Order ID','ASIN']))

7

In [18]:
amazon.drop_duplicates(['Order ID','ASIN'],inplace = True,ignore_index=True)

C:\Users\hyein\AppData\Local\Temp\ipykernel_22856\4015937399.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon.drop_duplicates(['Order ID','ASIN'],inplace = True,ignore_index=True)

In [19]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128844 entries, 0 to 128843
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128844 non-null  object
 1   Date                128844 non-null  object
 2   Status              128844 non-null  object
 3   Fulfilment          128844 non-null  object
 4   ship-service-level  128844 non-null  object
 5   Style               128844 non-null  object
 6   SKU                 128844 non-null  object
 7   Category            128844 non-null  object
 8   Size                128844 non-null  object
 9   ASIN                128844 non-null  object
 10  Courier Status      121972 non-null  object
 11  Qty                 128844 non-null  int64
 12  Amount              121176 non-null  float64
 13  ship-city           128811 non-null  object
 14  ship-state          128811 non-null  object
 15  ship-postal-code    128811 non-null  float64
 16  promotion-ids       79818 non-null   object
 17  B2B                 128844 non-null  bool
dtypes: bool(1), float64(2), int64(1), object(14)
memory usage: 16.8+ MB

# 3. 결측치 채우기

In [20]:
amazon['Courier Status'].fillna('unknown',inplace=True)

C:\Users\hyein\AppData\Local\Temp\ipykernel_22856\148288112.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon['Courier Status'].fillna('unknown',inplace=True)

In [21]:
amazon['promotion-ids'].fillna('no promotion',inplace=True)

C:\Users\hyein\AppData\Local\Temp\ipykernel_22856\1033079898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon['promotion-ids'].fillna('no promotion',inplace=True)

In [22]:
amazon['Amount'].isnull().sum()

7668

In [23]:
amazon['Amount'].fillna(0,inplace=True)

C:\Users\hyein\AppData\Local\Temp\ipykernel_22856\3580654317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon['Amount'].fillna(0,inplace=True)

In [24]:
amazon['ship-city'].fillna('unknown', inplace = True)
amazon['ship-state'].fillna('unknown', inplace = True)
amazon['ship-postal-code'].fillna('unknown', inplace = True)

C:\Users\hyein\AppData\Local\Temp\ipykernel_22856\872928778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon['ship-city'].fillna('unknown', inplace = True)
C:\Users\hyein\AppData\Local\Temp\ipykernel_22856\872928778.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon['ship-state'].fillna('unknown', inplace = True)
C:\Users\hyein\AppData\Local\Temp\ipykernel_22856\872928778.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  amazon['ship-postal-code'].fillna('unknown', inplace = True)
C:\Users\hyein\AppData\Local\Temp\ipykernel_22856\872928778.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon['ship-postal-code'].fillna('unknown', inplace = True)

In [25]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128844 entries, 0 to 128843
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128844 non-null  object
 1   Date                128844 non-null  object
 2   Status              128844 non-null  object
 3   Fulfilment          128844 non-null  object
 4   ship-service-level  128844 non-null  object
 5   Style               128844 non-null  object
 6   SKU                 128844 non-null  object
 7   Category            128844 non-null  object
 8   Size                128844 non-null  object
 9   ASIN                128844 non-null  object
 10  Courier Status      128844 non-null  object
 11  Qty                 128844 non-null  int64
 12  Amount              128844 non-null  float64
 13  ship-city           128844 non-null  object
 14  ship-state          128844 non-null  object
 15  ship-postal-code    128844 non-null  object
 16  promotion-ids       128844 non-null  object
 17  B2B                 128844 non-null  bool
dtypes: bool(1), float64(1), int64(1), object(15)
memory usage: 16.8+ MB

In [26]:
amazon['Status'].value_counts()

Status
Shipped                          77685
Shipped - Delivered to Buyer     28769
Cancelled                        18328
Shipped - Returned to Seller      1953
Shipped - Picked Up                973
Pending                            658
Pending - Waiting for Pick Up      281
Shipped - Returning to Seller      145
Shipped - Out for Delivery          35
Shipped - Rejected by Buyer         11
Shipped - Lost in Transit            5
Shipped - Damaged                    1
Name: count, dtype: int64

In [89]:
# sale_amount가 0.00이고 Status가 Cancelled인 경우를 찾음
cancelled_with_zero_sale = amazon[(amazon['sale_amount'] == 0.00) & (amazon['ship_status'] == 'Cancelled')]

# 결과 출력
cancelled_with_zero_sale.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7554 entries, 48023 to 91526
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_ID          7554 non-null   object
 1   date              7554 non-null   object
 2   ship_status       7554 non-null   object
 3   fullfilment       7554 non-null   object
 4   ship_service      7554 non-null   object
 5   style             7554 non-null   object
 6   sku               7554 non-null   object
 7   product_category  7554 non-null   object
 8   size              7554 non-null   object
 9   asin              7554 non-null   object
 10  courier_status    7554 non-null   object
 11  order_quantity    7554 non-null   int64
 12  sale_amount       7554 non-null   float64
 13  city              7554 non-null   object
 14  state             7554 non-null   object
 15  zip               7554 non-null   object
 16  promotion         7554 non-null   object
 17  customer_type     7554 non-null   object
 18  month             7554 non-null   object
dtypes: float64(1), int64(1), object(17)
memory usage: 1.2+ MB

In [28]:
amazon['Courier Status'].value_counts()

Courier Status
Shipped      109483
unknown        6872
Unshipped      6557
Cancelled      5932
Name: count, dtype: int64

# 4. 컬럼 이름 타입 변경

In [29]:
mapper = {'Order ID':'order_ID', 'Date':'date', 'Status':'ship_status','Fulfilment':'fullfilment',
          'ship-service-level':'ship_service', 'Style':'style', 'SKU':'sku', 'Category':'product_category', 
          'Size':'size', 'ASIN':'asin', 'Courier Status':'courier_status', 'Qty':'order_quantity', 
          'Amount':'sale_amount', 'ship-city':'city', 'ship-state':'state', 'ship-postal-code':'zip', 
          'promotion-ids':'promotion','B2B':'customer_type'}

In [30]:
amazon.rename(columns=mapper, inplace =True)

C:\Users\hyein\AppData\Local\Temp\ipykernel_22856\2867029000.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon.rename(columns=mapper, inplace =True)

In [31]:
amazon['customer_type'].replace(to_replace=[True,False],value=['business','customer'], inplace=True)

C:\Users\hyein\AppData\Local\Temp\ipykernel_22856\1164148232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon['customer_type'].replace(to_replace=[True,False],value=['business','customer'], inplace=True)

## 4.1 날짜 타입 변경

In [32]:
amazon['date'] = pd.to_datetime(amazon['date'])

C:\Users\hyein\AppData\Local\Temp\ipykernel_22856\1895549944.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  amazon['date'] = pd.to_datetime(amazon['date'])
C:\Users\hyein\AppData\Local\Temp\ipykernel_22856\1895549944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon['date'] = pd.to_datetime(amazon['date'])

In [33]:
march_dates = amazon['date'][amazon['date'].dt.month == 3]

march_dates.dt.day.nunique()

1

In [34]:
#3월 데이터 제거 
amazon = amazon[(amazon['date'].dt.month != 3)]

In [35]:
amazon['month'] = amazon['date'].dt.month
amazon["month"].unique()

C:\Users\hyein\AppData\Local\Temp\ipykernel_22856\2584321902.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon['month'] = amazon['date'].dt.month

array([4, 5, 6])

In [36]:
amazon['month'].value_counts()

month
4    49012
5    41995
6    37666
Name: count, dtype: int64

In [37]:
print(f'시작일 {amazon["date"].min()}')
print(f'종료일 {amazon["date"].max()}')

시작일 2022-04-01 00:00:00
종료일 2022-06-29 00:00:00

In [38]:
#날짜 순서대로 정렬
amazon = amazon.sort_values(by =['date'])

## 4.2 사이즈를 범주형 타입으로 변환

In [39]:
amazon['size'].value_counts()

size
M       22659
L       22072
XL      20828
XXL     18055
S       17053
3XL     14786
XS      11137
6XL       735
5XL       547
4XL       427
Free      374
Name: count, dtype: int64

In [40]:
size_order = ['Free','XS', 'S', 'M', 'L', 'XL', 'XXL', '3XL', '4XL', '5XL', '6XL']

amazon['size'] = pd.Categorical(amazon['size'], categories=size_order, ordered=True)

## 4.3 컬럼 순서 바꾸기

In [55]:
amazon.columns

Index(['order_ID', 'date', 'ship_status', 'fullfilment', 'ship_service',
       'style', 'sku', 'product_category', 'size', 'asin', 'courier_status',
       'order_quantity', 'sale_amount', 'city', 'state', 'zip', 'promotion',
       'customer_type', 'month'],
      dtype='object')

In [56]:
amazon = amazon[[ 'date','order_ID', 'ship_status', 'fullfilment', 'ship_service',
       'style', 'sku', 'product_category', 'size', 'asin', 'courier_status',
       'order_quantity', 'sale_amount', 'city', 'state', 'zip', 'promotion',
       'customer_type', 'month']]

# 5.  컬럼 생성하기

In [ ]:
amazon['order_amount'] = amazon.apply(lambda row: row['order_quantity'] * row['sale_amount'], axis=1)

# 6. 저장하기

In [57]:
amazon.to_csv("amazon_processed.csv")